page-typeoffood {
    
    .card-background-page {
        
        ion-card {
            position: relative;
            text-align: center;
            height: 75;

        }
      
        .card-title {
            position: absolute;
            font-size: 200%;
            width: 100%;
            
            
            font-size: 100%;
        }
        .text-block {
            position: absolute;
            bottom: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            background-color: black;
            color: white;

            padding-left: 15px;
            padding-right: 15px;
            opacity: 0.5;
            font-size: 100px;


           
        
        }
        .text{
            
                
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 40%;
            }
        
    }
}
    
    