page-login {
  
        .login{
            position: fixed;
            display: flex;
            min-height: 95vh;
            width: 100%;
            justify-content: center;
            flex-direction: column;
            
            
            .login-box {
                padding: 0 25px;
                margin-top: 30px;
                
                ion-item {
                    font-size: 1em;
                    margin-bottom: 10px;
                    box-shadow: none !important;
                }
                
            }
            
        }
    
}
