page-profile {
    .c1{
        background-image: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfRSjvv0huyHkdOBqVPcYZP5BMErcb8-K84zuRYUfF7vSZyDhV";
        text-align: center;
        font-size: 16px;

        .avatar {
        
            vertical-align: middle;
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
        }
}
